.dark {
    --app-gray-default: #030712;
    --app-gray-50: #111827;
    --app-gray-100: #1f2937;
    --app-gray-200: #374151;
    --app-gray-300: #4b5563;
    --app-gray-400: #6b7280;
    --app-gray-500: #9ca3af;
    --app-gray-600: #d1d5db;
    --app-gray-700: #e5e7eb;
    --app-gray-800: #f3f4f6;
    --app-gray-900: #f9fafb;
    --app-gray-950: #ffffff;
}