@import 'variables';

// Bootstrap
@import 'bootstrap/bootstrap';
@import 'bootstrap/mixins';

//custom
@import 'bootstrap-custom';
@import 'global';
@import 'splide';

*,
:after,
:before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: $gray-200;
}

body, html {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1rem;
    font-style: normal;
    color: $gray-600;
}

h1,h2,h3,h4,h5,h6{
    color: $dark;
}

a{
    color: $gray-600;
}

h1{
    line-height: 4.5rem;
    font-size: 3.75rem;
    font-weight: 700;
    letter-spacing: -.02em;

    @media (max-width:768px){
        font-size: 2.25rem;
        line-height: 2.5rem;
        font-weight: 600;
    }
}

h2{
    line-height: 2.5rem;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: -.02em;

    @media (max-width:768px){
        line-height: 1.75rem;
        font-size: 1.125rem;
    }
}

h3{
    line-height: 1.875rem;
    font-size: 2.25rem;
    font-weight: 500;
    letter-spacing: -.02em;
}

h5{
    line-height: 1.75rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: $gray-900;
}

i{
    color: $gray-600;

    &::before{
        width: auto !important;
        height: auto !important;
        line-height: 1.5rem !important;
    }
}

ol,ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (max-width:768px){
    header{
        border-bottom: 1px solid $gray-100;
    }
}

section{
    padding-top: 5rem;
    padding-bottom: 5rem;

    @media (max-width:768px){
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

p{
    margin-bottom: 0;
}

footer{
    background-color: $gray-50;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    .horizontal-divider{
        color: $gray-600;
        height: 1rem;
    }
}