.splide{
    .splide__track{
        padding: 0 1rem;

        .splide__list{
            .splide__slide{
                @media(min-width:768px){
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 20.375rem;
                }

                img{
                    max-width: 32rem;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    border-radius: 8px;
                }
            }
        }
    }
}

.splide__arrow{
    background-color: transparent;

    svg{
        fill: $gray-400;
    }
}

.splide__pagination__page{
    background-color: $gray-400;

    &.is-active{
        background-color: $gray-600;
    }
}